<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe?.imagePath" [alt]="recipe?.name" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>  {{recipe?.name}} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropDown>
            <button class="btn btn-primary dropdown-toggle"  type="button" aria-expanded="false">Manage Recipe</button> 
             <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="toShopping()" style="cursor: pointer;">to shopping list</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">delete recipe</a></li>
                <li><a class="dropdown-item" (click)="toEdit()" style="cursor: pointer;">edit recipe</a></li>
             </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe?.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
                {{ing?.name}} - {{ing?.amount}}
            </li>
        </ul>
    </div>
</div>